# Python
__pycache__/
*.pyc
venv/
.env

# Logs
*.log
logs/

# Database
*.db

# Trading generated data
data/parquet/
*.parquet

# Credentials
backend/*_creds.json
backend/ab_creds.json

# Node
frontend/node_modules/
frontend/build/